# Docker compose local (com dados reais)
docker-compose.yml

# Dependências
node_modules/
**/node_modules/

# Builds e compilações
dist/
**/dist/
build/
**/build/
.next/
**/out/
.vercel/
**/generated/prisma/

# Arquivos de variáveis de ambiente
.env
.env.local
.env.*.local
*.env
**/.env
**/*.env

# Logs
*.log
npm-debug.log*

# Configurações de editores e OS
.DS_Store
.vscode/
.idea/
.editorconfig